#trips { 
    height: 400px; 
    width: 25%; 
    float: left; 
    overflow-y: scroll;
}
#map {
    height: 400px;
    width: 75%;
    float: left; 
}
.sel_view, .uni_view {
    border: 1px solid;
    width: 100%;
}
.sel_view { height: 3em; }
.sel_view canvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: -3px;
}
.uni_view { height: 1em; }
.uni_view canvas {
    width: 100%;
    height: 100%;
}

#details {
    float: right;
}

#datepicker {
    float: right;
}

.angular-date-range-picker__picker {
    right: -1px;
    left: auto;
}


/* Trip timeline view */
.trip_stop {
    padding: 4px;
    background: #333399;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
}
.trip_stop input {
    color: black;
}
.trip_stop button {
    line-height: 100%;
}
.waypoint .trip_stop {
    margin-left: -13px;
    padding: 6px;
}
.waypoint .trip_stop span {
    display: none
}


#triplist ul {
  padding-left: 1em;
  margin: 0;
}

.trip_segment, .stop_time, .stop_container.waypoint {
    border-left: 4px solid darkgray;
    margin-left: 15px;
    padding-left: 5px;
}

.trip_segment {
    display: block;
}

.trip_entry {
    list-style-type: none;
    margin: 0;
}
.trip_entry.first .trip_segment,
.trip_entry.first div:first-child .stop_time:first-child
{
    border-top: 4px solid transparent;
}
.trip_entry.last .trip_segment,
.trip_entry.last div:first-child .stop_time:last-child
{
    border-bottom: 4px solid transparent;
}

.trip_gap {
    color: gray;
    margin-left: 1em;
}

day-view table {
  width: 100%;
}
day-view tr {
  height: 2.5em;
  border-top: 1px solid grey;
}
day-view td {
  position: relative;
  width: 100%;
}
day-view td > div {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

day-view .bar {
  background: gray;
  text-align: center;
  flex-grow: 1;
  overflow: hidden;
}
day-view .bar-footer {
  display: flex;
  font-size: 50%;
  flex-direction: row;
}
day-view .line {
  background: gray;
  overflow: hidden;
  height: 2px;
  margin-top: 1em;
}
day-view .time {
  flex-grow: 1;
}
day-view .from {
  text-align: left;
}
day-view .to {
  text-align: right;
}
